@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap");

.box-scroll {
  overflow-y: auto;
  max-height: 100vh;
}

.bg-grass {
  background-color: #48d0b0 !important;
}
.bg-fire {
  background-color: #fb6c6c !important;
}
.bg-water {
  background-color: #73bafc !important;
}
.bg-bug {
  background-color: #a8b820 !important;
}
.bg-normal {
  background-color: #a8a878 !important;
}
.bg-poison {
  background-color: #a040a0 !important;
}
.bg-electric {
  background-color: #ffce4b !important;
}
.bg-ground {
  background-color: #e0c068 !important;
}
.bg-fairy {
  background-color: #ee99ac !important;
}
.bg-fighting {
  background-color: #c03028 !important;
}
.bg-psychic {
  background-color: #f85888 !important;
}
.bg-rock {
  background-color: #b8a038 !important;
}
.bg-ghost {
  background-color: #705898 !important;
}
.bg-ice {
  background-color: #98d8d8 !important;
}
.bg-dragon {
  background-color: #7038f8 !important;
}
.bg-dark {
  background-color: #5e4531 !important;
}
.bg-flying {
  background-color: #5db8b1 !important;
}
.bg-steel {
  background-color: #7a8d89 !important;
}
// chip

.chip-type {
  background-color: #fafaff30 !important;
}
